[submodule "vendor/github.com/paulrosania/go-charset"]
	path = vendor/github.com/paulrosania/go-charset
	url = https://github.com/paulrosania/go-charset
[submodule "vendor/github.com/boltdb/bolt"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/github.com/antonholmquist/jason"]
	path = vendor/github.com/antonholmquist/jason
	url = https://github.com/antonholmquist/jason
[submodule "vendor/github.com/codegangsta/cli"]
	path = vendor/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "vendor/github.com/gengo/grpc-gateway"]
	path = vendor/github.com/gengo/grpc-gateway
	url = https://github.com/gengo/grpc-gateway
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/SermoDigital/jose"]
	path = vendor/github.com/SermoDigital/jose
	url = https://github.com/SermoDigital/jose
[submodule "vendor/github.com/rs/xhandler"]
	path = vendor/github.com/rs/xhandler
	url = https://github.com/rs/xhandler
