[submodule "vendor/github.com/paulrosania/go-charset"]
	path = vendor/github.com/paulrosania/go-charset
	url = https://github.com/paulrosania/go-charset
[submodule "vendor/github.com/boltdb/bolt"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/github.com/codegangsta/cli"]
	path = vendor/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/matryer/silk"]
	path = vendor/github.com/matryer/silk
	url = https://github.com/matryer/silk
[submodule "vendor/github.com/matryer/m"]
	path = vendor/github.com/matryer/m
	url = https://github.com/matryer/m
