[submodule "go/src/rakewire/vendor/github.com/paulrosania/go-charset"]
	path = go/src/rakewire/vendor/github.com/paulrosania/go-charset
	url = https://github.com/paulrosania/go-charset
[submodule "go/src/rakewire/vendor/github.com/boltdb/bolt"]
	path = go/src/rakewire/vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "go/src/rakewire/vendor/github.com/hashicorp/go-version"]
	path = go/src/rakewire/vendor/github.com/hashicorp/go-version
	url = https://github.com/hashicorp/go-version
[submodule "go/src/rakewire/vendor/golang.org/x/crypto"]
	path = go/src/rakewire/vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "go/src/rakewire/vendor/github.com/gorilla/handlers"]
	path = go/src/rakewire/vendor/github.com/gorilla/handlers
	url = https://github.com/gorilla/handlers
[submodule "go/src/rakewire/vendor/github.com/gorilla/mux"]
	path = go/src/rakewire/vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "go/src/rakewire/vendor/github.com/gorilla/context"]
	path = go/src/rakewire/vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "go/src/rakewire/vendor/github.com/antonholmquist/jason"]
	path = go/src/rakewire/vendor/github.com/antonholmquist/jason
	url = https://github.com/antonholmquist/jason
