{

	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"jsx": true,
		"modules": true,
		"templateStrings": true
	},

	"env": {
		"browser": true
	},

	"globals": {
		"console": true
	},

	"plugins": [
		"react"
	],

	"rules": {
		"brace-style": [1, "1tbs", { "allowSingleLine": true }],
		"curly": [0, "multi"],
		"indent": [1, "tab"],
		"key-spacing": 0,
		"no-extra-strict": 0,
		"no-multi-spaces": 0,
		"no-underscore-dangle": 0,
		"no-unused-vars": 1,
		"no-use-before-define": 0,
		"quotes": [1, "single"],
		"space-before-blocks": [1, "always" ]
	}

}
